{% extends "Project/layout.html.twig" %}

{% block title %}
    {{ 'suivi.ce_rediger'|trans({}, 'project') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'suivi.ce_rediger'|trans({}, 'project') }}
{% endblock %}

{% block content_bundle %}

    {{ form_start(form) }}
    {% form_theme form 'Project/Form/fields.html.twig' %}
    <table class="table table-bordered table-striped standard">
        <tr>
            <th>
                {{ form_label(form.suiveur) }}
                {{ form_errors(form.suiveur) }}
                <div class="badge" title="Liste des personnes ayant exercées au moins 1 mandat" data-toggle="tooltip">
                    ?
                </div>
            </th>
            <td>{{ form_widget(form.suiveur) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.contact) }}
                {{ form_errors(form.ce.contact) }}
            </th>
            <td>{{ form_widget(form.ce.contact) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.version) }}
                {{ form_errors(form.ce.version) }}
            </th>
            <td>{{ form_widget(form.ce.version) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.signataire1) }}
                {{ form_errors(form.ce.signataire1) }}
            </th>
            <td>{{ form_widget(form.ce.signataire1) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.knownSignataire2) }}
                {{ form_errors(form.ce.knownSignataire2) }}
            </th>
            <td>{{ form_widget(form.ce.knownSignataire2) }}</td>
        </tr>
        <tr>
            <th id="{{ form.ce.newSignataire2.vars.id }}_block" colspan="2"
                class="success">{{ 'suivi.signataire_client_ajouter'|trans({}, 'project') }}</th>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.prenom) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.prenom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.nom) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.nom) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.sexe) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.sexe) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.mobile) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.mobile) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.email) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.email) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.estAbonneNewsletter) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.estAbonneNewsletter) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.personne.emailEstValide) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.personne.emailEstValide) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.ce.newSignataire2.poste) }}</th>
            <td>{{ form_widget(form.ce.newSignataire2.poste) }}</td>
        </tr>
        <tr>
            <th id="{{ form.ce.newSignataire2.vars.id }}_block" colspan="2"
                class="success">{{ 'suivi.avant_projet'|trans({}, 'project') }}</th>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.signataire2) }}
                {{ form_errors(form.ce.signataire2) }}
            </th>
            <td>{{ form_widget(form.ce.signataire2) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.dateSignature) }}
                {{ form_errors(form.ce.dateSignature) }}
            </th>
            <td>{{ form_widget(form.ce.dateSignature) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.acompte) }}
                {{ form_errors(form.acompte) }}
            </th>
            <td>{{ form_widget(form.acompte) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.pourcentageAcompte) }}
                {{ form_errors(form.pourcentageAcompte) }}
            </th>
            <td>{{ form_widget(form.pourcentageAcompte) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.ce.nbrDev) }}
                {{ form_errors(form.ce.nbrDev) }}
            </th>
            <td>{{ form_widget(form.ce.nbrDev) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.fraisDossier) }}
                {{ form_errors(form.fraisDossier) }}
            </th>
            <td>{{ form_widget(form.fraisDossier) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.presentationProjet) }}
                {{ form_errors(form.presentationProjet) }}
            </th>
            <td>{{ form_widget(form.presentationProjet) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.descriptionPrestation) }}
                {{ form_errors(form.descriptionPrestation) }}
            </th>
            <td>{{ form_widget(form.descriptionPrestation) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.competences) }}
                {{ form_errors(form.competences) }}
            </th>
            <td>{{ form_widget(form.competences, {'attr': {'class':'select2-multiple', 'style': 'width: 100%'}}) }}</td>
        </tr>
    </table>
    {{ form_widget(form) }}

    <input type="submit" value="{{ 'suivi.ce_enregistrer'|trans({}, 'project') }}" class="btn btn-success"/>
    <input type="submit" value="{{ 'suivi.ce_enregistrer_phases_passer'|trans({}, 'project') }}" name="phases"
           class="btn btn-success"/>
    {{ form_end(form) }}

{% endblock %}

 {% block javascript %}
     {{ parent() }}
     {{ form_javascript(form) }}
     <script type="text/javascript">
         $(".select2-multiple").select2({width: '100%'});
     </script>
     {% include "Project/DocType/selectOrNew.html.twig" with { known: form.ce.knownSignataire2, knowned: form.ce.signataire2, newed: form.ce.newSignataire2 } %}
 {% endblock %}
