{% extends "Treso/layout.html.twig" %}

{% block title %}
    {% if nf.numero is null %}
        {{ 'treso.note_frais_ajouter'|trans({}, 'treso') }}
    {% else %}
        {{ 'treso.note_frais_editer'|trans({}, 'treso') }}
    {% endif %}- {{ parent() }}
{% endblock %}

{% block content_title %}
    {% if nf.numero is null %}
        {{ 'treso.note_frais_ajouter'|trans({}, 'treso') }}
    {% else %}
        {{ 'treso.note_frais_editer'|trans({}, 'treso') }}
    {% endif %}
{% endblock %}

{% block breadcrumb_items %}
    <li><a href="{{ path('treso_NoteDeFrais_index') }}">{{ 'treso.note_frais_liste'|trans({}, 'treso') }}</a></li>
{% endblock %}

{% block breadcrumb_active %}
    {% if nf.numero is null %}
        {{ 'treso.note_frais_ajouter'|trans({}, 'treso') }}
    {% else %}
        {{ 'treso.note_frais_editer'|trans({}, 'treso') }}
    {% endif %}
{% endblock %}

{% block content_bundle %}
    {{ form_start(form) }}
    <button type="submit" class="btn btn-success">
        {{ 'treso.note_frais_enregistrer'|trans({}, 'treso') }}
    </button>
    <br/><br/>
    <table class="table table-bordered table-striped standard">
        <tr>
            <th>
                {{ form_label(form.mandat) }}
                {{ form_errors(form.mandat) }}
            </th>
            <td>{{ form_widget(form.mandat, {value : 2020}) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.numero) }}
                {{ form_errors(form.numero) }}
            </th>
            <td>{{ form_widget(form.numero) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.date) }}
                {{ form_errors(form.date) }}
            </th>
            <td>{{ form_widget(form.date) }}</td>
        </tr>
        <tr id="demandeur">
            <th>
                {{ form_label(form.demandeur) }}
                {{ form_errors(form.demandeur) }}
            </th>
            <td>{{ form_widget(form.demandeur) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.adressedTo) }}
                {{ form_errors(form.adressedTo) }}
            </th>
            <td>{{ form_widget(form.adressedTo) }}</td>
        </tr>
        <tr>
            <th>
                {{ form_label(form.objet) }}
                {{ form_errors(form.objet) }}
            </th>
            <td>{{ form_widget(form.objet) }}</td>
        </tr>

        <tr>
            <th>
                {{ form_label(form.details|first.type) }}
                {{ form_errors(form.details|first.type) }}
            </th>
            <td>{{ form_widget(form.details|first.type) }}</td>
        </tr>


        {% if form.details|length == 0 %}
            <th>
                Erreur : aucun NFDetail !
            </th>
        {% elseif form.details|length > 1 %}
            <th>
                Erreur : trop de NFDetails !
            </th>
        {% endif %}

        </table>

    {% set detail = form.details|first %}
    <table class="table table-bordered table-striped standard" id="tableClassique">
        <tr id="prix">
            <th>
                {{ form_label(detail.prixHT) }}
                {{ form_errors(detail.prixHT) }}
            </th>
            <td>{{ form_widget(detail.prixHT) }}</td>
            <th>
                {{ form_label(detail.tauxTVA) }}
                {{ form_errors(detail.tauxTVA) }}
            </th>
            <td>{{ form_widget(detail.tauxTVA, {value : 20}) }}</td>
        </tr>
    </table>

    <table class="table table-bordered table-striped standard" id="tableKm">
        <tr id="km">
            <th>
                {{ form_label(detail.kilometrage) }}
                {{ form_errors(detail.kilometrage) }}
            </th>
            <td>{{ form_widget(detail.kilometrage) }}</td>
            <th>
                {{ form_label(detail.tauxKm) }}
                {{ form_errors(detail.tauxKm) }}
            </th>
            <td>{{ form_widget(detail.tauxKm, {value : 14}) }}</td>
        </tr>
        <tr id="km2">
            <th>
                {{ form_label(detail.peageHT) }}
                {{ form_errors(detail.peageHT) }}
            </th>
            <td>{{ form_widget(detail.peageHT) }}</td>
            <th>
                {{ form_label(detail.tvaPeages) }}
                {{ form_errors(detail.tvaPeages) }}
            </th>
            <td>{{ form_widget(detail.tvaPeages, {value : 20}) }}</td>
        </tr>
    </table>

        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            const selection = $('select[id$="_type"]');

            selection.each(
                function () {
                    switchFormat($(this).val());
                }
            );

            selection.change(
                function () {
                    switchFormat($(this).val());
                }
            );

            function switchFormat(switchValue) {
                if(switchValue == 1) {
                    document.getElementById('tableKm').style.visibility = "hidden";
                    document.getElementById('tableClassique').style.visibility = "visible";
                } else if (switchValue == 2) {
                    document.getElementById('tableKm').style.visibility = "visible";
                    document.getElementById('tableClassique').style.visibility = "hidden";
                }
            }
        });
    </script>

{% endblock %}
