{% extends "Project/layout.html.twig" %}

{% block title %}
    {{ 'suivi.contact_client_modifier'|trans({}, 'project') }} - {{ parent() }}
{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ path('project_clientcontact_voir', {'id': clientcontact.id}) }}">
            {{ 'suivi.contact_client'|trans({}, 'project') }} {{ clientcontact.id }}
        </a>
    </li>
{% endblock %}

{% block breadcrumb_active %}
    {{ 'suivi.contact_client_modifier'|trans({}, 'project') }}
{% endblock %}

{% block content_title %}
    {{ 'suivi.contact_client_modifier'|trans({}, 'project') }}
{% endblock %}

{% block content_bundle %}

    {% include "Project/ClientContact/formulaire.html.twig" %}

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}


