{% extends "Project/layout.html.twig" %}

{% set tab= "tab3" %}

{% block title %}
    {{ 'suivi.proces_verbal_modifier'|trans({}, 'project') }} - {{ parent() }}
{% endblock %}

{% block content_title %}
    {{ 'suivi.proces_verbal_modifier'|trans({}, 'project') }}
{% endblock %}

{% block content_bundle %}

    {{ form_start(form) }}

    {% include 'Project/ProcesVerbal/formulaire.html.twig' %}

    <button type="submit" class="btn btn-success">
        {{ 'suivi.proces_verbal_enregistrer'|trans({}, 'project') }}
    </button>
    {{ form_end(form) }}
    <br/>
    <form class="bootbox-confirm" data-content="{{ 'suivi.proces_verbal_supprimer_confirmation'|trans({}, 'project') }}"
          action="{{ path('project_procesverbal_supprimer', { 'id': form.vars.value.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger">{{ 'suivi.proces_verbal_supprimer'|trans({}, 'project') }}</button>
    </form>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {% include "Project/DocType/selectOrNew.html.twig" with { known: form.knownSignataire2, knowned: form.signataire2, newed: form.newSignataire2 } %}
{% endblock %}
