{% extends "Project/layout.html.twig" %}

{% block title %}
	{{ 'suivi.accueil'|trans({}, 'project') }} - {{ parent() }}
{% endblock %}

{% block content_bundle %}

    <h2>{{ 'suivi.ap_liste'|trans({}, 'project') }}</h2>

    <ul>

        {% for etude in etudes %}
            <li>
                <a href="{{ path('project_etude_voir', {'nom': etude.nom}) }}"> {{ 'suivi.etude.numero'|trans({}, 'project') }} {{ etude.id }}</a>
                , {{ 'suivi.etude.faite_par'|trans({}, 'project') }} {{ etude.mandat }} {{ 'suivi.etude.cree_le'|trans({}, 'project') }} {{ etude.dateCreation|date("d/m/Y") }}
            </li>
        {% else %}
            <li>{{ 'suivi.etude.pas_encore'|trans({}, 'project') }}</li>
        {% endfor %}

    </ul>

{% endblock %}
