{% trans_default_domain 'dashboard' %}

<style>
    .dropdown-menu > li > ul {
        padding: 3px 20px;
        margin: 0 !important;
        text-align: right !important;
        min-width: 300px;
    }
</style>
<form action="{{ path('dashboard_search') }}" method="GET" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control"
               placeholder="{{ 'dashboard.rechercher'| trans }}">
        <span class="input-group-btn">
                <button type="submit" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
    </div>
</form>
<!-- sidebar menu start-->
<ul class="sidebar-menu" id="nav-accordion">

    <!-- GESTION ASSOCIATIVE -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li>
            <a href="#">
                <i class="icon-mini fa fa-book"></i>
                <span class="nav-label">{{ 'dashboard.gestion_associative'| trans }}</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="dropdown-header">{{ 'dashboard.membres'| trans }}</li>
                <li><a href="{{ path('personne_membre_homepage') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.membres_lister'| trans }}</a>
                </li>
                <li><a href="{{ path('personne_intervenants_homepage') }}"><span
                                class="fa fa-usd"></span> {{ 'dashboard.intervenants_lister'| trans }}
                    </a></li>
                <li><a href="{{ path('personne_membre_impayes') }}"><span
                                class="fa fa-euro"></span> {{ 'dashboard.impayes_lister'| trans }}</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ path('personne_membre_ajouter') }}"><span
                                class="fa fa-plus"></span> {{ 'dashboard.membre_ajouter'| trans }}</a>
                </li>
            </ul>
        </li>
    {% endif %}

    {% if is_granted('ROLE_RGPD') %}
        <li>
            <a href="{{ path('privacy_homepage') }}">
                <i class="icon-mini fa fa-user-secret"></i>
                <span class="nav-label">
                	{{ 'dashboard.vie_privee'| trans }}
                </span>
            </a>
        </li>
    {% endif %}


    {% if is_granted('ROLE_SUIVEUR') %}
        <!-- SUIVI D'ETUDES-->
        <li>
            <a href="#">
                <i class="icon-mini fa fa-calendar"></i>
                <span class="nav-label">{{ 'dashboard.suivi_etudes'| trans }} </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('project_etude_homepage') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.etudes_voir'| trans }}</a></li>
                <li><a href="{{ path('project_etude_ajouter') }}"><span
                                class="fa fa-plus"></span> {{ 'dashboard.etude_creer'| trans }}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Qualité</li>
                <li><a href="{{ path('project_etude_suiviQualite') }}"><span
                                class="fa fa-exclamation-triangle"></span> {{ 'dashboard.problemes_suivi'| trans }}
                    </a></li>
                {% if is_granted('ROLE_CA') %}
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ 'dashboard.administration'| trans }}</li>
                    <li>
                        <a href="{{ path('project_clientcontact_index') }}"><span
                                    class="fa fa-envelope"></span> {{ 'dashboard.contacts_clients'| trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('project_vu_ca') }}"><span
                                    class="fa fa-eye"></span> {{ 'dashboard.vu_ca'| trans }}
                        </a>
                    </li>
                    <!--li><a href="{#{ path('project_etude_suivi') }#}"><span class="fa fa-tasks"></span> Récapitulatif</a></li-->
                {% endif %}
            </ul>
        </li>
    {% endif %}

    <!-- DEVELOPPEMENT COMMERCIAL -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li>
            <a href="#">
                <i class="icon-mini fa fa-address-book"></i>
                <span class="nav-label">{{ 'dashboard.prospection'| trans }} </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="dropdown-header">{{ 'dashboard.prospect_client'| trans }}</li>
                <li>
                    <a href="{{ path('personne_prospect_homepage') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.prospects_voir'| trans }}</a>
                </li>
                <li>
                    <a href="{{ path('personne_prospect_ajouter') }}"><span
                                class="fa fa-plus"></span> {{ 'dashboard.prospect_ajouter'| trans }}</a>
                </li>
                {% if is_granted('ROLE_CA') %}
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ 'dashboard.annuaire'| trans }}</li>
                    <li>
                        <a href="{{ path('personne_annuaire') }}"><span
                                    class="fa fa-book"></span> {{ 'dashboard.annuaire_global'| trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('personne_listeDiffusion') }}"><span
                                    class="fa fa-envelope"></span> {{ 'dashboard.liste_diffusion'| trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    <!-- RESSOURCES HUMAINES -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li>
            <a href="{{ path('hr_competence_homepage') }}">
                <i class="icon-mini fa fa-users"></i>
                <span class="nav-label">{{ 'dashboard.rh_competences'| trans }}</span>
            </a>
        </li>
    {% endif %}


    <!-- TRESORERIE-->
    {% if is_granted('ROLE_TRESO') %}
        <li>
            <a href="#">
                <i class="icon-mini fa fa-usd"></i>
                <span class="nav-label">{{ 'dashboard.tresorerie'| trans }} </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="dropdown-header">{{ 'dashboard.saisie_informations'| trans }}</li>
                <li><a href="{{ path('treso_Facture_index') }}"><span
                                class="fa fa-credit-card"></span> {{ 'dashboard.factures'| trans }}</a>
                </li>
                <li><a href="{{ path('treso_BV_index') }}"><span
                                class="fa fa-id-card-o"></span> {{ 'dashboard.bvs'| trans }}</a></li>
                <li><a href="{{ path('treso_NoteDeFrais_index') }}"><span
                                class="fa fa-sticky-note-o"></span> {{ 'dashboard.nfs'| trans }}</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">{{ 'dashboard.tableaux_suivi'| trans }}</li>
                <li><a href="{{ path('treso_Declaratif_TVA') }}"><span
                                class="fa fa-barcode"></span> {{ 'dashboard.declaratif_tva'| trans }}
                    </a></li>
                <li><a href="{{ path('treso_Declaratif_BRC') }}"><span
                                class="fa fa-qrcode"></span> {{ 'dashboard.bordereau_cotisations'| trans }}
                    </a></li>
                <li>
                    <a href="{{ path('treso_urssaf', {'year': "now"|date('Y'), 'month': "now"|date('m')}) }}"><span
                                class="fa fa-group"></span> {{ 'dashboard.intervenants'| trans }} </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">{{ 'dashboard.administration'| trans }}</li>

                <li><a href="{{ path('treso_Compte_index') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.comptes'| trans }}</a></li>
                <li><a href="{{ path('treso_BaseURSSAF_index') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.Base_urssaf'| trans }}</a></li>
                <li><a href="{{ path('treso_CotisationURSSAF_index') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.cotisations'| trans }}</a></li>
            </ul>
        </li>
    {% endif %}


    <!-- RECRUTEMENT FORMATIONS PASSATION -->
    {% if is_granted('ROLE_SUIVEUR') %}
        <li>
            <a href="#">
                <i class="icon-mini fa fa-graduation-cap"></i>
                <span class="nav-label">{{ 'dashboard.formations'| trans }} </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="dropdown-header">{{ 'dashboard.formations'| trans }}</li>
                <li><a href="{{ path('formations_lister') }}"><span
                                class="fa fa-book"></span> {{ 'dashboard.formations_voir'| trans }}</a>
                </li>
                {% if is_granted('ROLE_CA') %}
                    <li class="divider"></li>
                    <li class="dropdown-header">{{ 'dashboard.administration'| trans }}</li>
                    <li><a href="{{ path('formations_index_admin') }}"><span
                                    class="fa fa-list"></span> {{ 'dashboard.formations_gerer'| trans }}
                        </a></li>
                    <li><a href="{{ path('formation_ajouter') }}"><span
                                    class="fa fa-plus"></span> {{ 'dashboard.formation_ajouter'| trans }}
                        </a></li>
                    <li><a href="{{ path('formation_participation') }}"><span
                                    class="fa fa-tasks"></span> {{ 'dashboard.particpants_voir'| trans }}
                        </a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    <!-- PILOTAGE DE LA J.E. -->
    {% if is_granted('ROLE_CA') %}
        <li>
            <a href="#">
                <i class="icon-mini fa fa-paper-plane"></i>
                <span class="nav-label">{{ 'dashboard.pilotage_je'| trans }}</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ path('stat_index') }}"><span
                                class="fa fa-globe"></span> {{ 'dashboard.indicateurs'| trans }}</a></li>
            </ul>
        </li>
    {% endif %}

    <!-- ADMINISTRATION DU SITE -->
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="#">
                <i class="icon-mini fa fa-cogs"></i>
                <span class="nav-label">{{ 'dashboard.administration'| trans }}</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#">{{ 'dashboard.documents'| trans }} <i
                                class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('publish_documenttype_index') }}"><span
                                        class="fa fa-file"></span> {{ 'dashboard.documents_gestion'| trans }}
                            </a></li>
                        <li><a href="{{ path('publish_documenttype_upload') }}"><span
                                        class="fa fa-floppy-o"></span> {{ 'dashboard.doctype_ajouter'| trans }}
                            </a></li>
                        <li><a href="{{ path('publish_import') }}"><span
                                        class="fa fa-upload"></span> {{ 'dashboard.donnes_externes_importer'| trans }}
                            </a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">{{ 'dashboard.postes'| trans }}</li>
                <li><a href="{{ path('personne_poste_homepage') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.postes_filieres'| trans }}</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">{{ 'dashboard.compte_utilisateur'| trans }}:</li>
                <li><a href="{{ path('user_lister') }}"><span
                                class="fa fa-user"></span> {{ 'dashboard.lister_modifier'| trans }}</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">{{ 'dashboard.autres'| trans }}</li>
                <li><a href="{{ path('project_domaine_index') }}"><span
                                class="fa fa-list"></span> {{ 'dashboard.domaine_competences'| trans }}
                    </a></li>
                <li><a href="{{ path('dashboard_parameters_admin') }}"><span
                                class="fa fa-cog"></span> {{ 'dashboard.parameters'| trans }}</a></li>

                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('easyadmin') }}">{{ 'dashboard.administration_bdd'| trans }}</a>
                    </li>
                {% endif %}

            </ul>
        </li>
    {% endif %}
</ul>
