{{ form_start(form) }}
<table class="table table-bordered table-striped standard">
    <tr>
        <th>{{ form_label(form.titre) }} {{ form_errors(form.titre) }}</th>
        <td>{{ form_widget(form.titre) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.mandat) }} {{ form_errors(form.mandat) }}</th>
        <td>{{ form_widget(form.mandat) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.description) }} {{ form_errors(form.description) }}</th>
        <td>{{ form_widget(form.description) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.categorie) }} {{ form_errors(form.categorie) }}</th>
        <td>{{ form_widget(form.categorie, {'attr': {'style': 'width: 100%'}}) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.dateDebut) }} {{ form_errors(form.dateDebut) }}</th>
        <td>{{ form_widget(form.dateDebut) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.dateFin) }} {{ form_errors(form.dateFin) }}</th>
        <td>{{ form_widget(form.dateFin) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.docPath) }} {{ form_errors(form.docPath) }}</th>
        <td>{{ form_widget(form.docPath) }}</td>
    </tr>
</table>
<table class="table table-bordered table-striped" id="formateurs"
       data-prototype="{{ form_widget(form.formateurs.vars.prototype) | e }}">
    <tr>
        <th colspan="2"><a href="#" id="addFormateur">+</a>
            {{ form_label(form.formateurs) }}
            {{ form_errors(form.formateurs) }}
        </th>
    </tr>
    {% for formateur in form.formateurs %}
        <tr id="formateur">
            <td></td>
            <td>{{ form_widget(formateur) }}</td>
        </tr>
    {% endfor %}
    {% do form.formateurs.setRendered %}
</table>
<table class="table table-bordered table-striped">
    <tr>
        <th colspan="2"><a href="#" id="addMembres">+</a>
            {{ form_label(form.membresPresents) }}
            {{ form_errors(form.membresPresents) }}
        </th>
    </tr>
    <tr>
        <td colspan="2">
            <div class="row" id="membres"
                 data-prototype="{{ form_widget(form.membresPresents.vars.prototype) | e }}">
                {% for membre in form.membresPresents %}
                    <div class="col-md-4" id="membre">
                        <span>{# delete button #}</span>
                        {{ form_widget(membre) }}
                    </div>
                {% endfor %}
                {% do form.membresPresents.setRendered %}
            </div>
        </td>
    </tr>
</table>

<div class="row">
    <div class="col-md-2 col-xs-4">

        <button type="submit"
                class="btn btn-success">{{ 'formation.formation_enregistrer'|trans({}, 'formation') }}</button>

        {{ form_end(form) }}

        {{ form_javascript(form) }}
    </div>

    {% if is_granted('ROLE_ADMIN') and delete_form is defined and delete_form is not none %}
        <div class="col-md-2 col-xs-4">

            <form class="bootbox-confirm inline"
                  data-content="{{ 'formation.confirmation_supprimer_formation'|trans({}, 'formation') }}"
                  action="{{ path('Mgate_formation_supprimer', { 'id': delete_form.vars.value.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">{{ 'formation.formation_supprimer'|trans({}, 'formation') }}</button>
            </form>
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    // Récupère le div qui contient la collection de tags
    var collectionHolderFormateurs = $('#formateurs');
    var $addFormateurButton = $("#addFormateur");

    var collectionHolderMembres = $('#membres');
    var $addMembreButton = $("#addMembres");

    function triggerJavascript(type, id) {
        if (type == 'formateur') {
            $field = $('select#{{ form.formateurs.vars.id }}_' + id);
            {{ form_javascript(form.formateurs.vars.prototype, true) }}
        }
        else {
            $field = $('select#{{ form.membresPresents.vars.id }}_' + id);
            {{ form_javascript(form.membresPresents.vars.prototype, true) }}
        }
    }

    jQuery(document).ready(function () {
        var i = 0;
        var j = 0;
        $("tr#formateur").each(function () {
            addDeleteButton(this);
        });
        $("div#membre").each(function () {
            addDeleteButton(this);
        });


        $addFormateurButton.on('click', function (e) {
            e.preventDefault();
            // ajoute un nouveau formulaire formateur (voir le prochain bloc de code)
            addTagForm(collectionHolderFormateurs, i, 'formateur');
            i++;
        });

        $addMembreButton.on('click', function (e) {
            e.preventDefault();
            // ajoute un nouveau formulaire formateur (voir le prochain bloc de code)
            addTagForm(collectionHolderMembres, j, 'membre');
            j++;
        });
    });

    function addTagForm(collectionHolder, i, type) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        var prototype = collectionHolder.attr('data-prototype');

        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        var id = 0;
        if (type == 'formateur') {
            id = collectionHolderFormateurs.children().first().children().length;
            var newForm = prototype.replace(/__name__/g, id);
            newForm = '<tr id="' + type + i + '"><td></td><td>' + newForm + '</td></tr>';
        }
        else {
            id = collectionHolderMembres.children().length;
            var newForm = prototype.replace(/__name__/g, id);
            newForm = '<div class="col-md-4" id="' + type + i + '"><span></span> ' + newForm + '</div>';
        }

        // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
        var $newForm = collectionHolder.append(newForm);
        addDeleteButton($('#' + type + i));
        triggerJavascript(type, id);
    }

    function addDeleteButton(tag) {

        var deleteButton =  $('<button class="btn btn-danger" id="myButtonDelete">X</button>');
        $(tag).children().first().append(deleteButton);

        deleteButton.on('click', function (e) {
            e.preventDefault();
            //CONFIRM confirmation suppression
            var message = "Êtes vous sûr de vouloir supprimer ce membre ?";
            bootbox.confirm(message, function (result) {
                if (result) {
                    tag.remove();
                }
            });
        });
    }
</script>
